:root{
  /* colors */
  --primary-blue: hsl(216, 63%, 37%);
  --selector-blue: hsl(216, 63%, 27%);
  --hover-blue: hsl(216, 63%, 32%);

  --back-color: hsl(24, 10%, 90%);

  --white: hsl(0, 0%, 100%);
  --gray: hsl(0, 0%, 50%);
  --red: hsl(0, 100%, 48%);
  --light-green: hsl(86, 86%, 43%);
  --dark-green: hsl(163, 100%, 33%);


  /* fontsize */
  --ff: "Poppins", "sans-serif";
  --p: 300 1rem/1.3em var(--ff);
  --small: 200 0.875rem/1.3em var(--ff);
  --h1: bold 1.5rem/1.6em var(--ff);
  --h2: 400 1.25rem/1.7em var(--ff);
}


body{
  background-color: var(--back-color);
  display: flex;
  margin: 0;
}

/* Left Menu */
#left-menu{
  position: sticky;
  top: 0;
  font: var(--h2);
  color: var(--white);
  background-color: var(--primary-blue);
  height: 100vh;
  width: 20%;
  max-width: 280px;
  transition: width 0.5s;
}

#left-menu.hidden{
  width: 0;
  overflow: hidden;
}

#header{
  font: var(--h1);
  font-weight: 400;
  padding: 7px 12px;
  margin-bottom: 35px;
  box-shadow: 0px 5px 15px var(--selector-blue);
  display: flex;
  align-items: center;
  gap: 20px;
}

#logo{
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

#selected{
  background-color: var(--selector-blue);
}

.pageSelector{
  border-radius: 7px;
  margin: 5px 10px;
  padding: 5px 12px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.pageSelector:hover{
  cursor: pointer;
  background-color: var(--hover-blue);
}


/* Main Section */
#main-content {
  flex-grow: 1;
}

#top-bar{
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  gap: 20px;
  font: var(--p);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 45px;
  background-color: var(--white);
}

#toggle-left-menu:hover{
  background-color: hsl(0, 0%, 90%);
  border-radius: 5px;
  padding: 2px;
  margin: -2px;
  cursor: pointer;
}

#body-1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  margin: 45px 15px;
  gap: 50px;
}

.card{
  margin: 0px 15px;
  background-color: var(--white);
  padding: 45px 80px;
  border-radius: 25px;
  max-width: 800px;
  min-width: 200px;
}

button{
  padding: 8px 12px;
  border-radius: 10px;
  background-color: var(--dark-green);
  font: var(--small);
  font-weight: 400;
  border: none;
  color: var(--white);
  margin-left: 35px;
}

button:hover{
  cursor: pointer;
  background-color: hsl(163, 100%, 27%);
}

input{
  width: 270px;
  height: 30px;
  background-color: hsl(0, 0%, 90%);
  font: var(--small);
  font-weight: 400;
  border: none;
  border-radius: 10px;
  padding-left: 10px;
}

li{
  font: var(--p);
  padding-top: 10px;
}

hr{
  margin: 10px 0px;
}

a{
  color: var(--white);
  text-decoration: none;
}

.description{
  font: var(--small);
  color: var(--gray);
}

#btn{
  display: flex;
  justify-content: center;
  margin-right: 30px;
}


/* Dashobard */
.grid-container {
  display: grid;
	grid-template-columns: repeat(6, 125px);
  row-gap: 30px;
  column-gap: 40px;
  margin: 0px 10px;
}

@media (max-width: 990px) {
  body{
    background-color: var(--back-color);
    display: flex;
    margin: 0;
  }

  .grid-container{
    margin: 0px 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  #left-menu.hidden{
      position: sticky;
      top: 0;
      font: var(--h2);
      color: var(--white);
      background-color: var(--primary-blue);
      height: 100vh;
      min-width: fit-content;
      max-width: 300px;
      transition: width 0.5s;
  }

    #left-menu{
      width: 0;
      overflow: hidden;
    }
}


.grid-item {
  font: var(--p);
  background-color: var(--white);
  padding: 35px 25px;
  border-radius: 25px;
  min-width: 200px;
}

.item1 {
  grid-column: 1 / span 2;
  grid-row: 1;
}
 .item2 {
  grid-column: 3 / span 2;
  grid-row: 1;
}
 .item3 {
  grid-column: 5 / span 2;
  grid-row: 1;
}
.item4 {
  grid-column: 1 /span 3;
  grid-row: 2 / span 2;
}

.item5 {
  grid-column: 4 / span 3;
  grid-row: 2 / span 3;
}

.item6 {
  grid-column: 1 / span 3;
  grid-row: 4 / span 5;
}

.item7 {
  grid-column: 4 / span 3;
  grid-row: 5 / span 2;
}

.item8 {
  grid-column: 4 / span 3;
  grid-row: 8 / span 3;
}

.row{
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 3px 0px;
}

.data{
  font-weight: 550;
}

/* FAQ */
.question{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: var(--h1);
  font-weight: 500;
}

.faq{
  margin-bottom: 50px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: 1.4s ease;
}

.faq.active svg{
  transform: rotate(180deg);
}

.faq.active .answer{
  max-height: 600px;
}

.green-bold{
  font-weight: 570; 
  color: var(--dark-green);
}

.delete-btn{
    color: var(--gray);
    background-color: var(--white);
    cursor:pointer
}


.delete-btn:hover{
    background-color: var(--back-color);
}