<!DOCTYPE html>
	<html lang="en">
	<head>
	  <meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="icon" type="image/x-icon" href="/static/cropped_image.png">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">


		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

		<title>SysScanner</title>

	  {% block head %}{% endblock %}
	</head>
	<body>

		<span id="left-menu">
			<div id="header">
				<img id="logo" src="../static/cropped_image.png" alt="logo">
				<!--<i data-lucide="bell"></i>-->
				<div>SysScanner</div>
			</div>
				
			<a href="{{ url_for('dashboard') }}">
				<div class="pageSelector" onclick="select_element(this)"><i data-lucide="house"></i><span>Dashboard</span></div>
			</a>
			<a href="{{ url_for('users') }}">
				<div class="pageSelector" onclick="select_element(this)"><i data-lucide="message-circle-more"></i><span>Messages</span></div>
			</a>
			<a href="{{ url_for('settings') }}">
				<div class="pageSelector" onclick="select_element(this)"><i data-lucide="settings"></i><span>Settings</span></div>
			</a>
			<a href="{{ url_for('faq') }}">
				<div class="pageSelector"><i data-lucide="circle-help"></i><span>FAQ</span></div>
			</a>


			{% if current_user.is_authenticated %}
			<div style="position: absolute; bottom: 0;" >
				<a href="{{ url_for('logout') }}">
				<div class="pageSelector">
					<i data-lucide="user"></i>
					<span>{{ current_user.username }}</span>
					<i data-lucide="log-out"></i>
				</div>
				</a>
			</div>
			{% endif %}
		</span>

		
		<span id="main-content">
			<div id="top-bar">
				<i data-lucide="align-justify" onclick="hide_left_menu()" id="toggle-left-menu"></i> 
				<span>
					{% block title %}
					{% endblock %}
				</span>
			</div>
			
			<div id="body-1">
				{% block body %}
				{% endblock %}
			</div>
		</span>

	
		<script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
		<script>
			lucide.createIcons();

			left_menu = document.getElementById("left-menu")
			
			visible = true;
			
			function select_element(e){
				selector = document.querySelectorAll("#selected")
				selector.forEach(element => {
					element.setAttribute("id", "")
				});
				e.setAttribute("id", "selected")
			}

			function hide_left_menu(){
				if (visible) {
					left_menu.setAttribute("class", "hidden");
				} else{
					left_menu.setAttribute("class", "")
				} 
				visible = ! visible
			}
		</script>
	</body>
	</html>