{% extends "base.html" %}


	<!-- blocco head -->
{% block head %}


{% endblock %}

{% block title %}
    Dashboard
{% endblock %}
	

    <!-- blocco body -->
{% block body %}
    <div class="grid-container">
        
        <div class="grid-item item1">
            <div style="font: var(--h2)">UPTIME</div>
            <div style="font: var(--h1);">{{general.uptime()[:-3]}}</div>
        </div>
        
        <div class="grid-item item2">
            <div style="font: var(--h2)">TEMPERATURE</div>
            <div style="font:var(--h1)">
                <div>{{general.temperature()}}</div>
                {% if general.get_priority() != "" %}
                    <i data-lucide="circle-alert" style="color: var(--red);"></i> 
                {% endif %}
            </div>
        </div>
        
        <div class="grid-item item3">
            <div style="font: var(--h2)">DISK SPACE</div>
            <div style="font:var(--h1)">
                <div>{{disk.used}}GB</div>
                {% if disk.get_priority != "" %}
                    <i data-lucide="circle-alert" style="color: var(--red);"></i> 
                {% endif %}
            </div>
        </div>
        
        <div class="grid-item item4">
            <div style="font:var(--h2)">CPU</div>
            <hr>
            <div class="row">
                <div style="flex-grow: 1;">Usage percentage:</div>
                {% if cpu.get_priority() != "" %}
                    <i data-lucide="circle-alert" style="color: var(--red);"></i> 
                {% endif %}
                <div class="data">{{cpu.percentage}}%</div>
            </div>
            <hr>
            <div class="row">
                <div style="flex-grow: 1;">Clock frequency:</div>
                <div class="data">{{cpu.frequency}}Hz</div>
            </div>
        </div>
        
        <div class="grid-item item5">
            <div><span style="font:var(--h2)">RAM</span></div>
            <hr>
            <div class="row">
                <div style="flex-grow: 1;">Avaible:</div>
                <div class="data">{{ram.available}}GB</div>
            </div>
            <hr>
            <div class="row">
                <div style="flex-grow: 1;">Active:</div>
                <div class="data">{{ram.active}}GB</div>
            </div>
            <hr>
            <div class="row">
                <div style="flex-grow: 1;">Inactive:</div>
                <div class="data">{{ram.inactive}}GB</div>
            </div>
            <hr>
            <div class="row">
                <div style="flex-grow: 1;">Percentage:</div>
                <div class="data row">
                    {% if ram.get_priority() != "" %}
                    <i data-lucide="circle-alert" style="color: var(--red);"></i> 
                    {% endif %}
                    <div>{{ram.percentage}}%</div>
                </div>
            </div>
        </div>

        <div class="grid-item item6">
            <span style="font:var(--h2)">DISKS</span>
            
            <div style="height: 250px; display: flex; justify-content: center;">
                <canvas id="donutChart"></canvas>
            </div>

            <hr>
            <div class="row">
                <div style="flex-grow: 1;">Used:</div>
                <div class="data">{{disk.used}}GB</div>
            </div>
            <hr>
            <div class="row">
                <div style="flex-grow: 1;">Total:</div>
                <div class="data">{{disk.total}}GB</div>
            </div>
            <hr>
            <div class="row">
                <div style="flex-grow: 1;">Percentage:</div>
                <div class="data">{{disk.percent}}%</div>
            </div>
        </div>
        
        <div class="grid-item item7">
            <div><span style="font:var(--h2)">NETWORK</span></div>
            <hr>
            <div class="row">
                <div style="flex-grow: 1;">Upload Speed:</div>
                <div class="data">{{network.up_speed}} Kb/s</div>
            </div>
            <hr>
            <div class="row">
                <div style="flex-grow: 1;">Download Speed:</div>
                <div class="data">{{network.down_speed}} Kb/s</div>
            </div>
        </div>

        <div class="grid-item item8">
            <div><span style="font:var(--h2)">PROCESSES</span></div>
            {% for p in general.top_processes() %}
                <hr>
                <div style="margin-bottom: 3px;">{{p["name"]}}</div>
                <div class="description" style="margin-left: 12px;">
                    <div>Pid: {{p["pid"]}}</div>
                    <div>Accumulated process times: {{p["cpu_usage"]}}s</div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        selector = document.querySelectorAll(".pageSelector");
        selector[0].setAttribute("id", "selected");
        
        const disk_object = {{ disk | tojson | safe }};

        const disk_free = 100 - disk_object.percent

        // Configura il grafico a ciambella
        const ctx = document.getElementById('donutChart').getContext('2d');
        const donutChart = new Chart(ctx, {
            type: 'doughnut', // Tipo di grafico
            data: {
                labels: ['Used', 'Free'], // Etichette
                datasets: [{
                    label: 'Storage Usage',
                    data: [disk_object.percent, disk_free], // Dati dinamici
                    backgroundColor: ["hsl(86, 86%, 43%)", "hsl(163, 100%, 33%)"], // Colori
                    borderWidth: 0,
                    hoverOffset: 4
                }]
                
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'right', // Posizione della legenda
                    },
                },
                cutout: '60%',  
            }
        });


        // Reload page every minute
        time = 1*60*1000
        setInterval(() => {
            location.reload();
        }, time)
    </script>

{% endblock %}