<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title>Document</title>
</head>
<body id="body-1">
  <div class="card">
    <div style="font: var(--h1)">Login</div>
    <hr>
    
    <div>
      <div style="font: var(--h2)">Username:</div>
      <input type="text" name="username" id="" placeholder="Username">
    </div>
    <br>

    <div>
      <div style="font: var(--h2)">Email:</div>
      <input type="text" name="email" id="" placeholder="Email">
    </div>
    <br>
    
    <div>
      <div style="font: var(--h2)">Password:</div>
      <input type="password" name="password" id="" placeholder="Password">
    </div>
    <br>
    
    <div id="btn">
      <button style="font: var(--h2); padding: 2px 25px;">Login</button>
    </div>
  </div>
</body>
</html>