{% extends "base.html" %}


	<!-- blocco head -->
	{% block head %}

	{% endblock %}

{% block title %}
    Settings
  {% endblock %}

	<!-- blocco body -->

	{% block body %}
		<div class="card">
			<div style="font: var(--h1);">Thresholds</div>
			<div class="description">Set custom thresholds for CPU, RAM, Disk space and global temperature</div>
			<hr>

			<form action="{{ url_for('settings') }}" method="POST">
				<div style="display: flex; align-items: center;">
						<span style="font: var(--p); flex-grow: 1;" >CPU usage percentage:</span>
						<input type="text" name="cpu" style="width: 100px;" placeholder="{{ cpu }}">
					</div>
					<br>
					<div style="display: flex; align-items: center">
						<span style="font: var(--p); flex-grow: 1;">Available RAM percentage:</span>
						<input type="text" name="ram" style="width: 100px;" placeholder="{{ ram }}">
					</div>
					<br>
					<div style="display: flex; align-items: center">
						<span style="font: var(--p); flex-grow: 1;">Disks free space in Gb:</span>
						<input type="text" name="disk" style="width: 100px;" placeholder="{{ disk }}">
					</div>
					<br>
					<div style="display: flex; align-items: center">
						<span style="font: var(--p); flex-grow: 1;">Global temperature in Celsius:</span>
						<input type="text" name="temperature" style="width: 100px;" placeholder="{{ temperature }}">
					</div>
					<br>
					<div style="font: var(--h1);">Messages</div>
					<div style="font: var(--small); color: var(--gray);">Set how often you will receive a message from our bot with the server status</div>
					<hr>
					<div style="display: flex; align-items: center">
						<span style="font: var(--p); flex-grow: 1;">Recurring interval in min:</span>
						<input type="text" name="interval" style="width: 100px;" placeholder="{{ interval }}">
				</div>
				<br>
				<div id="btn">
					<button type="submit" style="margin-right: -30px; padding: 5px 15px;">Save</button>
				</div>
			</form>

		</div>


		<script>
			selector = document.querySelectorAll(".pageSelector")
			selector[2].setAttribute("id", "selected")
		</script>
	{% endblock %}