{% extends "base.html" %}


	<!-- blocco head -->
	{% block head %}

	{% endblock %}

{% block title %}
    Settings
  {% endblock %}

	<!-- blocco body -->

	{% block body %}
		<div class="card">
			<div style="font: var(--h1);">Thresholds</div>
			<div class="description">Set custom thresholds for CPU, RAM, Disk space and global temperature</div>
			<hr>
			<div style="display: flex; align-items: center;">
					<span style="font: var(--p); flex-grow: 1;" >CPU usage percentage:</span>
					<input type="text" style="width: 100px;">
				</div>
				<br>
				<div style="display: flex; align-items: center">
					<span style="font: var(--p); flex-grow: 1;">Available RAM percentage:</span>
					<input type="text" style="width: 100px;">
				</div>
				<br>
				<div style="display: flex; align-items: center">
					<span style="font: var(--p); flex-grow: 1;">Disks free space in Gb:</span>
					<input type="text" style="width: 100px;">
				</div>
				<br>
				<div style="display: flex; align-items: center">
					<span style="font: var(--p); flex-grow: 1;">Global temperature in Celsius:</span>
					<input type="text" style="width: 100px;">
				</div>
				<br>
				<div style="font: var(--h1);">Messages</div>
				<div style="font: var(--small); color: var(--gray);">Set how often you will receive amessage from our bot with the server status</div>
				<hr>
				<div style="display: flex; align-items: center">
					<span style="font: var(--p); flex-grow: 1;">Recurring interval in min:</span>
					<input type="text" style="width: 100px;">
			</div>
			<br>
			<div id="btn">
				<button style="margin-right: -30px; padding: 5px 15px;">Save</button>
			</div>
		</div>

		<script>
			selector = document.querySelectorAll(".pageSelector")
			selector[2].setAttribute("id", "selected")
		</script>
	{% endblock %}