{% extends "base.html" %}


	<!-- blocco head -->
	{% block head %}

	{% endblock %}

	{% block title %}
    Messages
  {% endblock %}

	<!-- blocco body -->
	{% block body %}
	<div class="card">
		<div style="font: var(--h1)">Users</div>
		<div class="description">Make a list of the users that wil receive updates about the server status on <a href="https://web.telegram.org/k/#@SysScanner_bot" style="color: var(--gray); text-decoration: underline;">our telegram bot</a>.
			If you don't know you "chat id" use the command /id in the bot chat
		</div>

		<hr>

		<div style="margin: 15px 0px;">
			<form action="{{ url_for('users') }}" method="POST">
			<input type="text" name="item" placeholder="insert chat id">
			<button name="add_item" type="submit">add chat id</button>
			</form>
		</div>


			<ul>
				{% if chat_list != [] %}
					{% for id in chat_list %}
					<li>
						<span style="display:flex; align-items: center;">
						<span>{{id}}</span>
						<form method="POST" action="{{ url_for('users') }}">
							<input type="hidden" name="delete_item" value="{{ id }}">
							<button name="delete_item" type="submit" class="delete-btn"><i data-lucide="trash-2"></i></button>
						</form>
						</span>
					</li>
					{% endfor %}
				{% endif %}
			</ul>


	</div>

	<script>
    selector = document.querySelectorAll(".pageSelector")
		selector[1].setAttribute("id", "selected")
  </script>

	{% endblock %}